<div class="header">
	<h1><%= @post.title %></h1>
	<% if @post.author == nil || @post.author == "" %>
		<% author = "Anonymous" %>
	<% else %>
		<% author = @post.author %>
	<% end %>

	<h4>Written by: <a href='/blog?author_filter=<%=@post.author%>'><%= author %></h4></a>
	<% if @post.publish_date != nil %>
		<% pub_date = DateTime.parse(@post.publish_date).to_date %>
	<% else %>
		<% pub_date = @post.created_at %>
	<% end %>
	<% pub_date = pub_date.strftime('%B %e, %Y') %>
	<h5 class='post_info'>Published on: <%= pub_date %></h5>
	<h5 class='post_info'><%= @post.body.scan(/\w+/).size %> Words</h5>
	<% if @post.category != nil %>
		<h5 class='post_info'>Category: <%= @post.category %></h5>
<% end %>
</div>

<!--<% if @post.category != nil %>
	<h4> <%= @post.category %></h4>
<% end %>
<small>Word Count: <%= @post.body.scan(/\w+/).size %></small>-->
<p><%= simple_format(@post.body) %></p>


<p><a href='/blog'><button>Back to Index</button></a></p>
<p>
	<a href='/blog/post/prev?postid=<%=@postid%>'><button>Previous Post</button></a>
	<a href='/blog/post/next?postid=<%=@postid%>'><button>Next Post</button></a>
</p>